<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floating Ark</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Floating Ark</h1>
        <p>Explorando el potencial de la energía undimotriz en Colombia</p>
    </header>
    <nav>
    <a href="/">Inicio</a>
    <a href="/map">Mapa Interactivo</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/recommendations">Recomendaciones</a>
    <a href="/segmentation">Segmentación</a>
    <a href="/detect">Detección</a>
    <a href="/simulation/choco">Simulación Colombia</a>
    <a href="/safety">Seguridad</a> <!-- Ejemplo con región -->
</nav>
    <section>
        <h2>Introducción</h2>
        <p>Este proyecto desarrolla un sistema flotante para generar energía a partir de las olas, integrando análisis de datos y visualizaciones interactivas.</p>
    </section>
    <footer>
        <p>&copy; 2025 Floating Ark. Todos los derechos reservados.</p>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>